body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}

main {
    width: 100%;
}

header {
    text-align: right;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    padding-right: 100px;
    color: #fff;
    background-image: linear-gradient(to right, #465AB8, #261360);
    ;
}

p {
    padding-bottom: 10px;
}

form {
    display: block;
}

form input {
    display: block;
    width: 500px;
}

.main-container {
    display: flex;
}

.sidenav {
    padding-bottom: 10px;

}

.search {
    padding-bottom: 10px;
    border-bottom: 2px #000000 solid;
}

.search-form {
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#city-input {
    display: flex;
    padding: 10px;
    flex-grow: 1;
    width: 270px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 15px;
}

button {
    padding: 10px;
    width: 292px;
    font-size: 15px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6991E3;
}

li {
    list-style: none;
    padding: 10px;
    width: 100%px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the current weather section */
.current-weather {
    padding-left: 20px;
    text-align: left;
    margin-bottom: 20px;
    border: 1px #000000 solid;
    padding: 10px;
    margin: 0px 15px;
}

.current-location {
    display: flex;
    align-items: center;
}

.sidenav h2 {
    font-size: 30px;
    padding-bottom: 10px;
    
}

.current-weather h2 {
    font-size: 30px;
}

.current-weather img {
    max-width: 100px;
}

.forecast {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 20px;
}


.forecast h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.forecast-item {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    width: 125px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #323D4F;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the search history section */
.search-history {
    text-align: center;
}

.search-history li {
    /* display: inline-block; */
    margin: 10px 0;
    /* padding: 5px 10px; */
    background-color: #AEAEAE;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
    font-size: 15px;
}

.search-history li:hover {
    background-color: #d4d4d4;
}